
@mixin breakpoint($point) {
    @if $point == small {
      @media (max-width: 767px) {
        @content;
      }
    }
  
    @if $point == medium {
      @media (min-width: 768px) {
        @content;
      }
    }
  
    @if $point == large {
      @media (min-width: 992px) {
        @content;
      }
    }
  }

  .Header-Container {
    padding: 10px 20px;

  }

  .Header-Picture {
    
    img {
        color: red;
    }
  }
  

.Currency-Stats {
    background-color: #ec4c8b;
    padding: 2px 10px;
}

.Currencies {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    // @include breakpoint(medium) {
    //     grid-template-columns: 33.3% 33.3% 33.3%;
    //   }
  
    //   @include breakpoint(large) {
    //     grid-template-columns: 20% 20% 20% 20% 20%;
    //     grid-template-rows: 50% 50%;
    // }
}