.Currency-Container {
    display: flex;
    flex-direction: column;
    background-color: #fb5092;
}

// .Currency-Container:nth-of-type(2n + 1) {
//     background-color: lightgray;
//   }

.Currency-Picture {
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
}

.Currency-Picture img{
width: 100px;
}